<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js 2</title>
</head>
<body>
    <div id="app">
        {{ msg }}
        <br>
        <ul>
            <li>{{ vehicles[0] }}</li>
        </ul>
        <br>
        <ul>
            <li v-for="d in vehicles">{{ d }}</li>
        </ul>
        <br>

        <label for="">Add Vehicles</label>
        <br>
        <input type="text" v-model="content">
        <button @click="addVehicles">Add</button>
        <br>
        <ul>
            <li v-for="(d, index) in vehicles">
                <button @click="removeVehicle(index)">x</button>
                {{ d }}
            </li>
        </ul>
    </div>
    
    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>